<header>
    <meta charset="utf-8">
        <title>Eivind Høydal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="site-name nav-link"><a href="{{ site.url }}">{{ 'Eivind Høydal' }}</a></div>
    <nav>
        <ul class="nav">
            {% for item in site.data.navigation %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.path }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>

