---
layout: default
title: Mine tanker om informasjonsikkerhet
description: Et pragmatisk blikk på informasjonsikkerhet og konsulentyrket. 
---

<h1> Mine tanker om informasjonsikkerhet</h1>
<p> Et pragmatisk blikk på informasjonsikkerhet og konsulentyrket.</p>
<div class="posts">
    {% for post in site.posts %}
        <article>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            Publisert {{ post.date | date_to_string }}
            {{ post.excerpt }}
        </article>
    {% endfor %}
</div>
